<!DOCTYPE html>
<html>
<head>
	<title>Inscription</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="view/theme.css">
</head>
<body>
		<center>
	<h1>Inscription</h1>
<img src="view/network-aa4c6.png">
<form action="index.php?action=inscription" method="post">
	<b>
	Pseudo
	<br/>
	<input name="email" type="text">
	<br/>
	<br/>
	Adresse Email
	<br/>
	<input name="email" type="text">
	<br/>
	<br/>
	Mot de passe
	<br/>
	<input name="password" type="password">
	<br/>
	<br/>
	Valider le Mot de passe
	<br/>
	<input type="password">
	<br/>
	<br/>
	<br/>
	gros sexe
	<br/>
	<input name="sex" type="text">
	<br/>
	<br/>
	
	<input type="submit" value="Valider">
	</center>
	</b>
</form>
</body>
</html>