<!DOCTYPE html>
<html>
<head>
	<title>réseau social </title>
</head>
<meta charset="UTF-8">
<body>
	<h1>Réseau Social</h1>
	<hr><hr/>
	
	<a href=""> Inscription</a>
	<h1>Profil</h1>
	<h2>Quentin Dupond</h2>
	<img src="http://localhost/FormationCFA/ANONYME.jpg">
	<small>étudiant</small>
	<p>Description du profil</p>
	<a href="https://www.facebook.com"> retour au fil d'actualité</a>
	<br/>
	<center><input type="submit" value="ajouter en ami">
		<br/></center>
	<h2>liste d'ami</h2>
	<ul>
		<li>Didier dropa</li>
		<li>Jérome ramassama</li>
	</ul>
	


</body>
</html>
