h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
}

b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
#inscription{
    margin: auto;
    width: 20%;
    background-color: white;
    border-radius: 15px;
}
#login{
    margin: auto;
    width: 40%;
    background-color: white;
    border-radius: 15px;
}

#accueil {
    margin: auto;
    background-color: white;
    border-radius: 15px;
    vertical-align: middle ;
    width: 50%;
    height: 21%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#texte{
    margin: auto;
}

#created{
    margin: auto;
    width: 40%;
    height: 30%;
    background-color: white;
    border-radius: 15px;
}

#existing{
    margin: auto;
    width: 40%;
    height: 30%;
    background-color: white;
    border-radius: 15px;
}

#profile {
    margin: auto;
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
}

body{
    background: url('ISEPCC.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
}

ul{


    margin: 10px;
    padding:auto;
    list-style: none;


}
ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: blue;
    opacity: .5;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    margin: 5px;
    

}
ul li a {
    text-decoration: none;
    color:orange;
    display:block;
    background-color: blue;
    border-radius: 15px;
    font-size: 80%;

}
ul li a:hover{
    background-color:orange;
    color: blue;
    border-radius: 15px;


}
ul li ul li{
    display:none;
}
